<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.NuRacingConnectionString"
            connectionString="server=nuracingtestmachine.no-ip.org;User Id=WebAccessAccount;password=MaskHipsterHeadphonesChopsticks;Persist Security Info=True;database=NuRacing"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>