/* -----------------------------------------------------------
   Author: Nicola Dawson (c3127610)
   Date: 29th September 2013
   Filename: style.css
   Project: NURacing Application
   Purpose: Define presentation standards and branding 
   for all application page formatting
   ----------------------------------------------------------- */
 
 
/*	RESET ALL STYLES ON LOAD */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	border-style: none;
    border-color: inherit;
    border-width: 0;    
    margin: 0 0 2px 0;

}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}


/* TYPOGRAPHY */

p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color: #7E7E7E;
	text-shadow: 1px 1px 1px #000000;
}


#lblUsername {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color: #7E7E7E;
	text-shadow: 1px 1px 1px #000000;
}


#lblPassword {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color: #7E7E7E;
	text-shadow: 1px 1px 1px #000000;
}

#lblRemember{
    	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color: #7E7E7E;
	text-shadow: 1px 1px 1px #000000;
}

a {
	color: #E55F05;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
	margin-bottom: 10px;
    color: #656565;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-shadow: 1px 1px 1px #282828;
}

h1 { font-size: 34px; line-height: 34px;}
h2 { font-size: 30px; line-height: 30px;}
h3 { font-size: 26px; line-height: 26px;}
h4 { font-size: 22px; line-height: 22px;}
h5 { font-size: 18px; line-height: 18px;}
h6 { font-size: 14px; line-height: 14px;}


/* RESPONSIVE LAYOUT SETTINGS */

/* HEADER */

#header {
	clear:both;
	float:left;
	width:100%;
	height: auto;
	padding-bottom: 40px;
	border-bottom:1px solid #E55F05;
	background: #282828 url("../images/background/bgFooter1.png") repeat;
	-webkit-box-shadow: 0px 9px 30px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 9px 30px rgba(0, 0, 0, 1);
	box-shadow:         0px 9px 30px rgba(0, 0, 0, 1);
}

#sub-header { /* allows formatting of top shadow */
	clear:both;
	float:left;
	width:100%;
	height:105px;

}


/* BODY */

body {
	margin:0;
	padding:0;
	border:0;			
	width:100%;
	background: url("../images/background/bg_vertical_1.png") repeat;
	text-align:center;
	
	}
    
.colmask {
	clear:both;
	float:left;
	width:100%;		
	overflow:hidden;	
	height: auto !important;
    min-height: 100%;
    position: relative;

	}

.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			
	position:relative;
	height: auto !important;
    min-height: 100%;
}

.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	
	height: auto !important;
    min-height: 100%;
    text-align:center;
}

.threecol {
	background: none;	
	height: auto !important;
    min-height: 100%;
}

.threecol .colmid {
	right:25%;			
	background:none;		
}

.threecol .colleft {
	right:50%;			
	background: none;	
}

.threecol .col1 {
	width:46%;			
	left:102%;			
}

.threecol .col2 {
	width:21%;			
	left:31%;			
}

.threecol .col3 {
	width:21%;			
	left:85%;			
}

/* FOOTER */

#sub-footer { /* allows formatting of bottom shadow */
	clear:both;
	float:left;
	width:100%;
	height:105px;
	background: url("../images/background/top_shadow.png") repeat-x bottom left;
}

#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #E55F05;
	height:30px;
	background: #000000;
    position: absolute;
    bottom: 0; /* Sit it on the bottom */
    left: 0;
}


/* TOP ORANGE BAR */

#topBarMenu {
	width: 100%;
	height: 30px;
	float: left;
	background: #E55F05;
	padding-left:5%;
	-webkit-box-shadow: 0px 9px 30px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 9px 30px rgba(0, 0, 0, 1);
	box-shadow:         0px 9px 30px rgba(0, 0, 0, 1);
}

#topBarMenu li {
    float: left;
    position: relative;
	list-style:none;
}

#topBarMenu li a {
    color: #FFFFFF;
	padding-top: 6px;
	padding-right: 20px;
    display: block;
    font-size: 11px;
	font-family: Arial, sans-serif;
	font-weight:bold;
	float: left;
}


/* LOGO HEADER (NOT VISIBLE ON LOGIN PAGE)*/

#logo {
	width: auto;
	height: 70px;
	margin-top: 20px;
	float: left;	
	margin-left:22.5%;
}


/* NAVIGATION (NOT VISIBLE ON LOGIN PAGE) */

#menu {
	width: auto;
	height: auto;
	margin-top: 50px;
	float: right;
	z-index: 300;
	margin-right:20%;
}

#menu ul {
    position: relative;
    z-index: 300;
}

#menu li {
    float: left;
    margin-left: 5px;
    position: relative;
	list-style:none;
}

#menu li a {
	padding-left: 5px;
    color: #EAEAEA;
    display: block;
    font-size: 19pt;
	line-height:25pt;
	font-family:"Oswald", "Myriad Pro", "Trebuchet MS", sans-serif;
	text-shadow:1px 1px 1px #000;
	letter-spacing:0px;
	text-transform: uppercase;
	text-shadow: none;
	float: left;
}

#menu li a > span > span {
	display: block;
    padding: 6px 0 8px 24px;
    background: none;
	float: left;
}

#menu li a:hover {
    color: #656565;
	text-decoration: none;
}


/* BUTTONS AND FORM INPUT BOXES */

#btnSubmit {
	color: #FFFFFF;
	font-family: 'Cuprum', sans-serif;
	margin-top: 10px;
	font-size: 16px;
	line-height: 34px;
    display: inline-block;
    padding: 1px 15px 6px 15px;
	height: 36px;
	background-color: #E55F05;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 1px 1px #2e2e2e;
	-moz-box-shadow: 0px 1px 1px #2e2e2e;
	box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
	float: left;
}

#btnRecover {
	color: #FFFFFF;
	font-family: 'Cuprum', sans-serif;
	margin-top: 10px;
	font-size: 16px;
	line-height: 34px;
    display: inline-block;
    padding: 1px 15px 6px 15px;
	height: 36px;
	background-color: #E55F05;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 1px 1px #2e2e2e;
	-moz-box-shadow: 0px 1px 1px #2e2e2e;
	box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
	float: left;
    margin-left:10px;
}

.projectTable {
	
	margin-left:auto;
    margin-right:auto;
		font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
font-size:x-large;
border-spacing:5px 5px;
    max-height:100px;
    border-collapse:inherit;
}
.projectTable td
{
    overflow:scroll;
	background-color:#7F7F7F;
    border:thick;
	width:20%;	
    max-width:100px;
    max-height:100px;
	height: 100px;
    padding:5px;
    text-align:center;
    white-space:pre-line;
    overflow-x:auto;
    overflow-y:auto;
}
.projName {}
.projDesc {
        max-height:100px;
    float:left;
    font-size:medium;
}
.tasksTable {
	border:solid;
	margin-left:40%;
		font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
font-size:x-large;
background-color:#7F7F7F;
	}
.tasksTable td {
	border:none;
	background-color:#7F7F7F;}

.input-textareaPassword {	
    border: 1px solid #d2d1cf;
	width: 420px;
	height: 16px;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: Arial,Verdana,sans-serif;
	background-color: #fff;
	color: #666;}
.loginForm {
}
.input-submitLogin {
width: 135px;
color: #fff;
font-family: 'Cuprum', sans-serif;
margin-top: 10px;
font-size: 16px;
line-height: 34px;
    display: inline-block;
background-color: #16949c;
    padding: 1px 15px 6px 15px;
height: 36px;
background-image: url(../images/images/bttn_alt.png);
background-repeat: repeat-x;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
-webkit-box-shadow: 0px 1px 1px #2e2e2e;
-moz-box-shadow: 0px 1px 1px #2e2e2e;
box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
cursor: pointer;}

.input-submitLoginRecover {
width: auto;
color: #fff;
font-family: 'Cuprum', sans-serif;
margin-top: 10px;
font-size: 16px;
line-height: 34px;
    display: inline-block;
background-color: #16949c;
    padding: 1px 15px 6px 15px;
height: 36px;
background-image: url(../images/images/bttn_alt.png);
background-repeat: repeat-x;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
-webkit-box-shadow: 0px 1px 1px #2e2e2e;
-moz-box-shadow: 0px 1px 1px #2e2e2e;
box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
cursor: pointer;
}

.todoTable {
	
	margin-left:auto;
    margin-right:auto;
		font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
font-size:x-large;
border-spacing:5px 5px;
    max-height:100px;
    width:40%;
}

.todoTable th {
    background-color:white;
    border:none;
    }

.todoTable td
{
    overflow:scroll;
	background-color:#7F7F7F;
    border:thick;
	width:40%;	
    max-height:100px;
	height: 100px;
    padding:5px;
    text-align:center;
    white-space:pre-line;
    overflow-x:auto;
    overflow-y:auto;
    border-style:solid;
}
.taskDetail {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.taskTitleLbl {
    float:left;
	font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    font-size:x-large;
    color:#7F7F7F;
        margin-bottom:10px;

}
.dueDateLbl {
    float:right;
	font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    font-size:x-large;
    color:#7F7F7F;
    padding-right:10px;
        margin-bottom:10px;

}
.takeFiveBtn {
	color: #FFFFFF;
	font-family: 'Cuprum', sans-serif;
	font-size: 16px;
	line-height: 34px;
    display: inline-block;
    padding: 1px 15px 6px 15px;
	height: 36px;
	background-color: #E55F05;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 1px 1px #2e2e2e;
	-moz-box-shadow: 0px 1px 1px #2e2e2e;
	box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
	float: right;
    margin-bottom:10px;
}
.taskDescLbl {
    width:100%;
    max-width:150%;
    height:40%;
    max-height:100%;
    font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    font-size:large;
    margin-top:10px;
    overflow:scroll;
    border:solid;
    border-color:#7F7F7F;
    float:left;
    text-align:left;
    background-color:white;
}
.timeLogging {
    font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    border:solid; 
    border-color:#7F7F7F; 
    background-color:white;
}
.taskHrMinTxtBx {
    width:10px;
}
.taskDescTxtBx {
    width:80%;
}
.accountOptions {
    margin-left:auto;
}
.userRole {
    font-size:x-large;
}
.taskMngement {
    width:80%;
    float:left;
    text-align:left;
}
.taskManBtn {
	color: #FFFFFF;
	font-family: 'Cuprum', sans-serif;
	font-size: 16px;
	line-height: 34px;
    display: inline-block;
    padding: 1px 15px 6px 15px;
	height: 36px;
	background-color: #E55F05;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 1px 1px #2e2e2e;
	-moz-box-shadow: 0px 1px 1px #2e2e2e;
	box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
	float: right;
}