/* -----------------------------------------------------------
   Author: Nicola Dawson (c3127610)
   Date: 29th September 2013
   Filename: style.css
   Project: NURacing Application
   Purpose: Define presentation standards and branding 
   for all application page formatting
   ----------------------------------------------------------- */
 
 
/*	RESET ALL STYLES ON LOAD */


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	border-style: none;
    border-color: inherit;
    border-width: 0;    
    margin: 0 0 0 0;

}

html{
    border-color: inherit;
    border-width: 0;    
    margin: 0 0 0 0;
}

a img {border: 0;}


/* TYPOGRAPHY */

p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color: #7E7E7E;
	text-shadow: 1px 1px 1px #000000;
}

#lblUsername {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color: #7E7E7E;
	text-shadow: 1px 1px 1px #000000;
}

#lblPassword {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color: #7E7E7E;
	text-shadow: 1px 1px 1px #000000;
}

#lblRemember{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color: #7E7E7E;
	text-shadow: 1px 1px 1px #000000;
}

a {
	color: #E55F05;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
	margin-bottom: 10px;
	font-family: 'Oswald', sans-serif; font-size: 30px; 
	font-weight: 400;
	text-shadow: 1px 1px 1px #282828;
    text-transform:uppercase;
}

h1 { font-size: 60px; line-height: 60px;    margin-bottom: 15px;    color: #A8A8A8;}
h2 { font-size: 30px; line-height: 30px;    color: #A8A8A8;}
h3 { font-size: 26px; line-height: 26px;    color: #A8A8A8;}
h4 { font-size: 22px; line-height: 22px;    color: #A8A8A8;}
h5 { font-size: 18px; line-height: 18px;    color: #FFFFFF;}
h6 { font-size: 14px; line-height: 14px;    color: #A8A8A8;}


/* RESPONSIVE LAYOUT SETTINGS */

/* HEADER */

#header {
	clear:both;
	float:left;
	width:100%;
	height: auto;
	padding-bottom: 40px;
	border-bottom:1px solid #E55F05;
	background: #282828 url("../images/background/bgFooter1.png") repeat;
	-webkit-box-shadow: 0px 9px 30px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 9px 30px rgba(0, 0, 0, 1);
	box-shadow:         0px 9px 30px rgba(0, 0, 0, 1);
    z-index:3;
}
.colmaskhead {
	clear:both;
	float:left;
	width:100%;		
	overflow:hidden;	
	height: auto !important;
    min-height: 100%;
    position: relative;
	}

.colrighthead,
.colmidhead,
.collefthead {
	float:left;
	width:100%;			
	position:relative;
	height: auto !important;
    min-height: 100%;
}


.col1head,
.col2head,
.col3head {
	float:left;
	position:relative;
	padding:0 0 1em 0;	
	height: auto !important;
    min-height: 100%;
    text-align:center;
}

.threecolhead {
	background: none;	
	height: auto !important;
    min-height: 100%;
   
}

.threecolhead .colmidhead {
	right:25%;			
	background:none;
        	 		
}

.threecolhead .collefthead {
	right:50%;			
	background: none;	

}

.threecolhead .col1head {
	width:65%;			
	left:93%;	
     background-color:none;
}

.threecolhead .col2head {
	width:21%;			
	left:31%;			
}

.threecolhead .col3head {
	width:21%;			
	left:85%;			
}




/* BODY */

body {
	margin:0;
	padding:0;
    height:auto;
	border:0;			
	background: url("../images/background/bg_vertical_1.png") repeat;
	text-align:center;

	}
    
.colmask {
	clear:both;
	float:left;
	width:100%;		
	overflow:hidden;	
	height: auto !important;
    min-height: 100%;
    position: relative;
	}

.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			
	position:relative;
	height: auto !important;
    min-height: 100%;
}


.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	
	height: auto !important;
    min-height: 100%;
    text-align:center;
}

.threecol {
	background: none;	
	height: auto !important;
    min-height: 100%;
   
}

.threecol .colmid {
	right:25%;			
	background:none;
        	 		
}

.threecol .colleft {
	right:50%;			
	background: none;	

}

.threecol .col1 {
	width:46%;			
	left:102%;	
     background-color:#0F0F0F;
    padding-left:20px;
    padding-right:40px;   
    margin-bottom:30px;
    -webkit-box-shadow: inset 0 30px 30px -30px rgba(0, 0, 0, 1);
	-moz-box-shadow:    inset 0 30px 30px -30px rgba(0, 0, 0, 1);
	box-shadow:         inset 0 30px 30px -30px rgba(0, 0, 0, 1);
    -webkit-box-shadow:  9px 9px 30px  rgba(0, 0, 0, 1);
	-moz-box-shadow:     9px 9px 30px rgba(0, 0, 0, 1);
	box-shadow:          9px 9px 30px rgba(0, 0, 0, 1);
}

.threecol .col2 {
	width:21%;			
	left:31%;			
}

.threecol .col3 {
	width:21%;			
	left:85%;			
}

/* FOOTER */

#footer {
   position:relative;
    left:0px;
    bottom:0px;
    height:auto;
    min-height:90px;
    width:100%;
    clear:both;
    float:left;
	border-top:1px solid #E55F05;
    border-bottom:1px solid #E55F05;
  	background: #282828 url("../images/background/bgFooter1.png") repeat;
	-webkit-box-shadow: 0px -9px 30px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px -9px 30px rgba(0, 0, 0, 1);
	box-shadow:         0px -9px 30px rgba(0, 0, 0, 1);
    padding-top:10px;
    color: #FFFFFF;
    margin-top: 20px;

}
/* FOOTER COMPATIBILITY WITH IE10*/
#footer {
   position:relative;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
   margin-top:20px;
}


/* TOP ORANGE BAR*/

#topBarMenu {
	width: 100%;
	height: auto;
    min-height:30px;
	float: left;
	background: #E55F05;
	/*padding-left:5%;*/
	-webkit-box-shadow: 0px 9px 30px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 9px 30px rgba(0, 0, 0, 1);
	box-shadow:         0px 9px 30px rgba(0, 0, 0, 1);
    z-index:3;
}

#topBarMenu li {
    float: left;
    position: relative;
	list-style:none;
}

#topBarMenu li a {
    color: #FFFFFF;
	padding-top: 6px;
	padding-right: 20px;
    display: block;
    font-size: 11px;
	font-family: Arial, sans-serif;
	font-weight:bold;
	float: left;
}


/* LOGO HEADER (NOT VISIBLE ON LOGIN PAGE)*/

#logo {
	width: auto;
	height: 70px;
	margin-top: 32.5px;
	float: left;	
	margin-left:10%;
}


/* NAVIGATION (NOT VISIBLE ON LOGIN PAGE) */

#menu {

     position:relative;
    left:0px;
    top:0px;
    height:auto;
    width:100%;
    clear:both;
    float:left;
    clear:both;
	height: auto;
	float: left;
	width:100%;	
    text-align:center;
    margin-top:30px;
}

#menu ul {
    position: relative;
    z-index: 300;
}

#menu li {
    float: left;
    margin-left: 5px;
    position: relative;
	list-style:none;
}

#menu li a {
	padding-left: 5px;
    color: #EAEAEA;
    display: block;
    font-size: 35px;
	line-height:30pt;
	font-family:"Oswald", "Myriad Pro", "Trebuchet MS", sans-serif;
	text-shadow:1px 1px 1px #000;
	letter-spacing:0px;
	text-transform: uppercase;
	text-shadow: none;
	float: left;
}

#menu li a > span > span {
	display: block;
    padding: 6px 0 8px 24px;
    background: none;
	float: left;
}

#menu li a:hover {
    color: #656565;
	text-decoration: none;
}


/* BUTTONS AND FORM INPUT BOXES */

#btnSubmit {
	color: #FFFFFF;
	font-family: 'Cuprum', sans-serif;
	margin-top: 10px;
	font-size: 16px;
	line-height: 34px;
    display: inline-block;
    padding: 1px 15px 6px 15px;
	height: 36px;
	background-color: #E55F05;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 1px 1px #2e2e2e;
	-moz-box-shadow: 0px 1px 1px #2e2e2e;
	box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
	float: left;
}

#btnRecover {
	color: #FFFFFF;
	font-family: 'Cuprum', sans-serif;
	margin-top: 10px;
	font-size: 16px;
	line-height: 34px;
    display: inline-block;
    padding: 1px 15px 6px 15px;
	height: 36px;
	background-color: #E55F05;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 1px 1px #2e2e2e;
	-moz-box-shadow: 0px 1px 1px #2e2e2e;
	box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
	float: left;
    margin-left:10px;
}


.btnEnquiry {
	color: #FFFFFF;
	font-family: 'Cuprum', sans-serif;
	margin-top: 10px;
	font-size: 16px;
	line-height: 34px;
    display: inline-block;
    padding: 1px 15px 6px 15px;
	height: 36px;
	background-color: #E55F05;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 1px 1px #2e2e2e;
	-moz-box-shadow: 0px 1px 1px #2e2e2e;
	box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
	float: right;
    margin-left:10px;
}

.tblProjects {
	margin-left:auto;
    margin-right:auto;
	font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    font-size:x-large;
    border-spacing:5px 5px;
    max-height:100px;
    border-collapse:inherit;
    table-layout:auto;
}
.tblProjects td
{
    overflow:scroll;
	background-color: #E55F05;
    border:thick;
	width:300px;
	height: 150px;
    padding:5px;
    text-align:center;
    white-space:pre-line;
    overflow-x:auto;
    overflow-y:auto;
    vertical-align:top;
    margin-left:5px;
    -webkit-box-shadow: 9px 9px 30px rgba(0, 0, 0, 1);
	-moz-box-shadow:    9px 9px 30px rgba(0, 0, 0, 1);
	box-shadow:         9px 9px 30px rgba(0, 0, 0, 1);
    padding-bottom:10px;
}
.tblProjects a {
    text-transform:uppercase;
    font-size:38px;
    color:#FFFFFF;
    vertical-align:bottom;
}
.projName {
}
.projDesc {
       
    color:#ffffff;
    text-align:center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color:#ffffff;

}
.tasksTable {
	border:solid;
	margin-left:40%;
		font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
font-size:x-large;
background-color:#7F7F7F;
	}
.tasksTable td {
	border:none;
	background-color:#7F7F7F;}

.textareaPassword {	
    border: 0px solid #d2d1cf;
	margin-bottom: 10px;
    padding:4px;
    background-color: #2D2D2D;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color: #7E7E7E;
    vertical-align:middle;
}


.lstBxFormat {	
    border: 0px solid #d2d1cf;
	margin-bottom: 10px;
    padding:4px;
    background-color: #2D2D2D;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color: #7E7E7E;
    vertical-align:middle;
}


.input-submitLogin {
width: 135px;
color: #fff;
font-family: 'Cuprum', sans-serif;
margin-top: 10px;
font-size: 16px;
line-height: 34px;
    display: inline-block;
background-color: #16949c;
    padding: 1px 15px 6px 15px;
height: 36px;
background-image: url(../images/images/bttn_alt.png);
background-repeat: repeat-x;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
-webkit-box-shadow: 0px 1px 1px #2e2e2e;
-moz-box-shadow: 0px 1px 1px #2e2e2e;
box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
cursor: pointer;}

.input-submitLoginRecover {
width: auto;
color: #fff;
font-family: 'Cuprum', sans-serif;
margin-top: 10px;
font-size: 16px;
line-height: 34px;
    display: inline-block;
background-color: #16949c;
    padding: 1px 15px 6px 15px;
height: 36px;
background-image: url(../images/images/bttn_alt.png);
background-repeat: repeat-x;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
-webkit-box-shadow: 0px 1px 1px #2e2e2e;
-moz-box-shadow: 0px 1px 1px #2e2e2e;
box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
cursor: pointer;
}

.todoTable {
	margin-left:auto;
    margin-right:auto;
	font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    font-size:x-large;
    border-spacing:5px 5px;
    border:none;
}

.todoTable th {
    background-color:none;
    border:none;
    font-family: 'Oswald', sans-serif; font-size: 30px; line-height: 30px;    color: #A8A8A8;
    }

.todoTable td
{
    vertical-align: top;
    overflow:scroll;
	background-color:none;
    border-top:2px #A8A8A8;
	width:500px;	
	height: 100px;
    padding:5px;
    text-align:center;
    white-space:pre-line;
    overflow-x:auto;
    overflow-y:auto;
    text-transform:uppercase;
     color: #A8A8A8;
}
.taskDetail {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.taskTitleLbl {
    color: #A8A8A8; font-size: 60px; line-height: 60px; margin-bottom: 15px;
	font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
text-transform:uppercase;

}
.dueDateLbl {
    float:right;
	font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    font-size:30px;
    color:#7F7F7F;
    padding-right:10px;
    margin-bottom:10px;
       
	font-weight: 400;
	text-shadow: 1px 1px 1px #282828;
    text-transform:uppercase;

}
.takeFiveBtn {
	color: #FFFFFF;
	font-family: 'Cuprum', sans-serif;
	font-size: 16px;
	line-height: 34px;
    display: inline-block;
    padding: 1px 15px 6px 15px;
	height: 36px;
	background-color: #E55F05;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 1px 1px #2e2e2e;
	-moz-box-shadow: 0px 1px 1px #2e2e2e;
	box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
	float: right;
    margin-bottom:10px;
}
.taskDescLbl {
    width:100%;
    max-width:150%;
    min-height:40%;
    font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    font-size:large;
    margin-top:10px;
    overflow:scroll;
    border:solid;
    border-color:#7F7F7F;
    float:left;
    text-align:left;
    background-color:white;
}
.timeLogging {
    font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    border:solid; 
    border-color:#7F7F7F; 
    background-color:white;
    min-height: 40%;
    text-transform:uppercase;
}
.taskHrMinTxtBx {
    width:10px;
}
.taskDescTxtBx {
    width:80%;
}
.accountOptions {
    margin-left:auto;
}
.userRole {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
	color: #7E7E7E;
	text-shadow: 1px 1px 1px #000000;
}
.taskMngement {
    width:80%;
    float:left;
    text-align:left;
}
.taskManBtn {
	color: #FFFFFF;
	font-family: 'Cuprum', sans-serif;
	font-size: 16px;
	line-height: 34px;
    display: inline-block;
    padding: 1px 15px 6px 15px;
	height: 36px;
	background-color: #E55F05;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 1px 1px #2e2e2e;
	-moz-box-shadow: 0px 1px 1px #2e2e2e;
	box-shadow: 0px 1px 1px #2e2e2e;
    border: none;
	float: right;
}

.grdVwProject {
	margin-left:auto;
    margin-right:auto;
	font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    font-size:x-large;
    color: #111111;
    border-spacing:0px;
    max-height:100px;
    width:100%;
	font-weight: 400;

    background-color:none;
    border:none;	
}

.grdVwProject a {
	font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    font-size:x-large;
    color: #111111;
    text-transform:uppercase;
	font-weight: 400;
    vertical-align:top;
}

.grdVwProject th {
    border:none;
    color:#A8A8A8;
    font-size:38px;
    text-transform:uppercase;
    background-color:none;
    }

.grdVwProject td
{
    overflow:scroll;
	background-color:#EEEEEE;
    border: none;
	width:100%;	
    max-height:100px;
	height: 100px;
    padding:5px;
    margin-right:50px;
    text-align:left;
    overflow-x:auto;
    overflow-y:auto;
    border-style:none;

}

.lblOldPassword {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 11pt;
    color: #7E7E7E;
    text-shadow: 1px 1px 1px #000000;
}

.tblReports{
	margin-left:auto;
    margin-right:auto;
	font-family:"Oswald","Myriad Pro", "Trebuchet MS", sans-serif;
    font-size:x-large;
    border-spacing:5px 5px;
 
    border-collapse:inherit;
    table-layout:auto;
}
.tblReports td
{
	background-color: #E55F05;
    border:thick;
    height:20px;
    min-height:20px;
    width:100%;
    padding:2px;
    padding-left:15px;
     padding-right:15px;
    text-align:center;
    overflow-x:auto;
    overflow-y:auto;
    vertical-align:top;
    -webkit-box-shadow: 9px 9px 30px rgba(0, 0, 0, 1);
	-moz-box-shadow:    9px 9px 30px rgba(0, 0, 0, 1);
	box-shadow:         9px 9px 30px rgba(0, 0, 0, 1);
}
.tblReports a {
    text-transform:uppercase;
    font-size:38px;
    color:#FFFFFF;
}

.projectIcon {
    font-family: 'Wingdings';
    font-weight:bold;
    font-size:45px;
    margin-right:15px;
}

