<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BusinessLogicLayer.BusinessLogicSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BusinessLogicLayer.DataAccessLayer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BusinessLogicLayer.BusinessLogicSettings>
            <setting name="passwordRegEx" serializeAs="String">
                <value />
            </setting>
            <setting name="passwordMinNonAlphaNumericChars" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="passwordMinUppercase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="passwordMinLowercase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="passwordMinNumerals" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="passwordMinLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="UserRoles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Administrator</string>
                        <string>Staff</string>
                        <string>User</string>
                        <string>Sponsor</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultCarParts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Brake System</string>
                        <string>Engine</string>
                        <string>Drivetrain</string>
                        <string>Chassis</string>
                        <string>Bodywork</string>
                        <string>Electrical</string>
                        <string>Wiring</string>
                        <string>Misc, Fit and Finish</string>
                        <string>Steering</string>
                        <string>Suspension</string>
                        <string>Wheels and Tyres</string>
                    </ArrayOfString>
                </value>
            </setting>
        </BusinessLogicLayer.BusinessLogicSettings>
        <BusinessLogicLayer.DataAccessLayer>
            <setting name="passwordRegEx" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="passwordMinNonAlphaNumericChars" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="passwordMinUppercase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="passwordMinLowercase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="passwordMinNumerals" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="passwordMinLength" serializeAs="String">
                <value>8</value>
            </setting>
        </BusinessLogicLayer.DataAccessLayer>
    </applicationSettings>
</configuration>